/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

h1,
h2 {
  color: #333333;
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="file"],
input[type="password"],
input[type="text"],
input[type="submit"] {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  font-weight: bold;
}

li button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #c82333;
}

#strengthMeter {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  transition: color 0.5s ease;
}

#strengthMeter[value="1"] {
  background-color: red;
}

#strengthMeter[value="2"] {
  background-color: orange;
}

#strengthMeter[value="3"] {
  background-color: yellow;
}

#strengthMeter[value="4"] {
  background-color: lightgreen;
}

#strengthMeter[value="5"] {
  background-color: green;
}

#strengthText {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}
